@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.App {
  text-align: center;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh
}

li {
  list-style: none;
}

input {
  font-size: 25px;
  border-radius: 4px;
}

button {
  font-size: 25px;
  background-color: dodgerblue; /*  Go Dodgers! */
  color: white;
  border-radius: 4px;
  margin: 0 10px;
}